{
  "presets": [
    "env"
  ],
  "plugins": [
    "external-helpers"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}