{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ],
  "env": {
    "test": {
      "presets": ["es2015"],
      "plugins": ["istanbul"]
    }
  }
}
