.list-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.list-wrapper .list-content {
    position: relative;
    z-index: 10;
    background: #fff;
}

.list-wrapper .list-item {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    padding-left: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.list-wrapper .loading-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}