// 颜色定义规范
//// 主基调
$color-main = #007bff
$color-main-ll = #5aaaff
$color-main-l = #3b99fc
$color-main-d = #0069d9

$color-orange = #fc9153
$color-regular-blue= #4a4c5b
$color-background = #f3f4f5
$color-background-grew = #e8864c
$color-background-grey = #f2f2f2
$color-title-background = #f7f7f7

//// 文字信息
$color-dark-grey = #333
$color-grey = #666
$color-light-grey = #999
$color-light-grey-s = #ccc
$color-light-grey-ss = #eee
$color-white = #fff
//// 其他辅色

////// 灰色
$color-light-grey-sss = #fcfcfc
////// 橘色
$color-dark-orange = #f08250
$color-light-orange = #fc9153
$color-grey-orange = #ffc4a6

////// 黄色
$color-dark-yellow = #ffd00b
$color-light-yellow = #ffe650
$color-grey-yellow = #ffedb4

////// 红色
$color-dark-red = #bd2630
$color-light-red = #db2a36
$color-grey-red = #ff525d

////// 粉色
$color-dark-pink = #aa337a
$color-light-pink = #d24b82
$color-grey-pink = #ef65ab

////// 紫色
$color-dark-purple = #48296d
$color-light-purple = #6a2d8e
$color-grey-purple = #af72c5

////// 黄绿色
$color-dark-greenyellow = #8bb93f
$color-light-greenyellow = #bfd141
$color-grey-greenyellow = #d5e08c

////// 绿色
$color-dark-deepgreen = #1b733e
$color-light-deepgreen = #50a050
$color-grey-deepgreen = #80c075
$color-green = #75D370
$color-green-opacity = rgba(117, 211, 112, .05)
$color-vue-green = #42b983
$color-vue-green-opacity = rgba(66, 185, 131, .05)

////// 深青色
$color-dark-cyan = #018172
$color-light-cyan = #28aa91
$color-grey-cyan = #71c3bc

////// 藏青色
$color-dark-cadetblue = #256ea8
$color-light-cadetblue = #3ca0e6
$color-grey-cadetblue = #96caf0

////// 蓝色
$color-dark-blue = #233c64
$color-light-blue = #1e4191
$color-grey-blue = #6e82d7

//// 横线色值
$color-row-line = #ebebeb
//// 竖线色值
$color-col-line = #f5f5f5

/// click & touch active background-color
$color-active-light-orange = rgba(252, 145, 83, .04)
$color-active-light-gray = rgba(0, 0, 0, .04)

/// click & touch active color
$color-active-light-orange-fe = #fdc2a5
$color-active-light-gray-fe = #c2c2c2

/// mask background-color
$color-mask-bgc = rgba(37, 38, 45, .4)

// 字体大小定义规范
$fontsize-large-xxxx = 30px
$fontsize-large-xxx = 24px
$fontsize-large-xx = 20px
$fontsize-large-x = 18px
$fontsize-large = 16px
$fontsize-medium = 14px
$fontsize-small = 12px
$fontsize-small-s = 10px

// 边框圆角大小
$radius-size-medium = 0.3rem
$radius-size-small = 0.1rem

/// 内容区阴影
$box-shadow-content = 0 1px 3px rgba(0, 0, 0, .1)
